@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');


.body{
  background-color: black;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: white;
}

.temp{
  font-size: 250%;
}


