@import "bootstrap-sprockets";
@import "bootstrap";

.body{
  background-color: black;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: white;
  padding: 5% 5% 5% 5%;
}

.temp{
  font-size: 300%;
}

.col_w_10{
   float: left;
   width: 10%;
 }
.col_w_30{
  float: left;
  width: 30%;
}
.col_w_15{
  float: left;
  width: 15%;
}
.col {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  clear: both;
}


