@import "bootstrap-sprockets";
@import "bootstrap";

.body{
  background-color: black;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: white;
  padding: 5% 5% 5% 5%;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.temp{
  font-size: 300%;
}

.col_w_10{
   float: left;
   width: 10%;
 }
.col_w_30{
  float: left;
  width: 30%;
}
.col_w_15{
  float: left;
  width: 15%;
}
.col {
  float: left;
  width: 25%;
}



